.u-section-1 .u-sheet-1 {
  min-height: 430px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  margin-top: 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 1px;
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 1px;
  margin-bottom: 0;
  height: auto;
  min-height: 865px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 9190px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-bottom: 1px;
    min-height: 9190px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 9192px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    margin-top: 590px;
    margin-bottom: -317px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    margin-top: 526px;
    margin-bottom: -343px;
  }
}